<div class="container">
  <h1>Your Todo List</h1>
  <form action="/todos" method="POST">
    <input type="text" name="title" placeholder="New task" required>
    <button type="submit">Add Task</button>
  </form>
  <ul class="todo-list">
    {{#each todos}}
    <li>
      <span>{{this.title}}</span>
      <form action="/todos/{{this._id}}/delete" method="POST" style="display: inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
    {{/each}}
  </ul>
  <a href="/logout">Logout</a>
</div>
